{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>This is home page</h1>
    {% if data %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>City</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for st in data %}
                    <tr>
                        <td>{{ st.name }}</td>
                        <td>{{ st.roll }}</td>
                        <td>{{ st.city }}</td>
                        <td>{{ st.department }}</td>
                        <td><a class="btn btn-danger text-white" href="{% url 'delete' st.roll %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No data</h3>
    {% endif %}

    <!-- Bootstrap JS and JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
