{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class='text-center m-5'>Musician Informations</h1>

    <table class="table table-bordered">
        <thead class="text-center table-info">
           <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Instrument Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for musician in musicians %}
            <tr>
                <td>{{ musician.id }}</td>
                <td><a >{{ musician.first_name }} {{ musician.last_name }}</a></td>
                <td>{{ musician.email }}</td>
                <td>{{ musician.instrument_type }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'edit_musician' musician.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_musician' musician.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}