
{% extends 'base.html' %} 
{% load static %}
{% block content %}


<form method="POST" action="{% url 'about' %}" class="container w-50 m-auto pt-5">
    {% csrf_token %}
    <h1>Movie Rating Form</h1>
    <div class="form-group">
      <label for="exampleInputName"></label>
      <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name" name="username">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail"></label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>

    <select class="form-select mt-3" aria-label="Default select example" name = "select">
        <option selected>Ratings</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  {% comment %} <h3>Name: {{name}}</h3>
  <h3>Email: {{email}}</h3> {% endcomment %}
{% endblock %}




